# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [15]:
import pandas as pd
import numpy as np
dados = [-.08, -.27, .12, -.03, .26, .4, 1.02]
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
temp_media = pd.Series(dados, anos)
temp_media
# Seu código aqui

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [ ]:
# seu código aqui:
# feito no primeiro exercício.

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [17]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}
temp_media_dic = pd.Series(dic_temperaturas)
# seu código aqui
temp_media_dic

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [24]:
arr = np.random.normal(100, 10, (20,3))
# seu código aqui
df = pd.DataFrame(arr)
df

             0           1           2
0    88.637460   86.618679   86.448476
1   102.147891   86.887689  119.030475
2   109.963885   91.165944   98.918908
3   115.149806  117.963757   88.220873
4    85.248796  101.790908  110.221974
5   105.728942  103.350588   96.593875
6    90.489221   97.753992  100.073319
7   114.581917  100.651285   86.927554
8   106.388499   94.716215   96.785727
9   113.398810   88.505906  112.542968
10   99.082205  107.977180   96.731415
11   91.466990  109.701992   97.080502
12   98.835751   97.190762  110.532225
13  101.040184   90.114275  103.490749
14  116.285140   97.103010   88.480873
15   76.200379   93.127654   99.761021
16  105.089194   97.240041   98.824794
17  103.062269   84.632231   86.388443
18   98.278712  107.879181  101.780111
19  100.907364  116.687253  116.258647

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [25]:
#seu código aqui
# renomear as colunas:
df = pd.DataFrame(arr, columns=["x1", "x2", "x3"])
# Renomeando os índices das linhas
df = df.rename(index=lambda x: x+1)
df

            x1          x2          x3
1    88.637460   86.618679   86.448476
2   102.147891   86.887689  119.030475
3   109.963885   91.165944   98.918908
4   115.149806  117.963757   88.220873
5    85.248796  101.790908  110.221974
6   105.728942  103.350588   96.593875
7    90.489221   97.753992  100.073319
8   114.581917  100.651285   86.927554
9   106.388499   94.716215   96.785727
10  113.398810   88.505906  112.542968
11   99.082205  107.977180   96.731415
12   91.466990  109.701992   97.080502
13   98.835751   97.190762  110.532225
14  101.040184   90.114275  103.490749
15  116.285140   97.103010   88.480873
16   76.200379   93.127654   99.761021
17  105.089194   97.240041   98.824794
18  103.062269   84.632231   86.388443
19   98.278712  107.879181  101.780111
20  100.907364  116.687253  116.258647

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [33]:
df["media"] = (df["x1"]+df["x2"]+df["x3"]) / 3
# alternativamente: df["media"] = df.mean(axis=1)
# axis = 1 -> retornará a média linha a linha. 
# Se fosse axis = 0, que é o default, resultaria as 3 médias de cada coluna. (a média da coluna x1, depois da x2, x3)
df

            x1          x2          x3       media
1    88.637460   86.618679   86.448476   87.234872
2   102.147891   86.887689  119.030475  102.688685
3   109.963885   91.165944   98.918908  100.016245
4   115.149806  117.963757   88.220873  107.111479
5    85.248796  101.790908  110.221974   99.087226
6   105.728942  103.350588   96.593875  101.891135
7    90.489221   97.753992  100.073319   96.105511
8   114.581917  100.651285   86.927554  100.720252
9   106.388499   94.716215   96.785727   99.296813
10  113.398810   88.505906  112.542968  104.815895
11   99.082205  107.977180   96.731415  101.263600
12   91.466990  109.701992   97.080502   99.416495
13   98.835751   97.190762  110.532225  102.186246
14  101.040184   90.114275  103.490749   98.215069
15  116.285140   97.103010   88.480873  100.623008
16   76.200379   93.127654   99.761021   89.696351
17  105.089194   97.240041   98.824794  100.384676
18  103.062269   84.632231   86.388443   91.360981
19   98.278712  107.879181  101.780111  102.646001
20  100.907364  116.687253  116.258647  111.284421

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [36]:
df["log_med"] = np.log(df["media"])
df

            x1          x2          x3       media   log_med
1    88.637460   86.618679   86.448476   87.234872  4.468604
2   102.147891   86.887689  119.030475  102.688685  4.631702
3   109.963885   91.165944   98.918908  100.016245  4.605333
4   115.149806  117.963757   88.220873  107.111479  4.673870
5    85.248796  101.790908  110.221974   99.087226  4.596001
6   105.728942  103.350588   96.593875  101.891135  4.623905
7    90.489221   97.753992  100.073319   96.105511  4.565447
8   114.581917  100.651285   86.927554  100.720252  4.612347
9   106.388499   94.716215   96.785727   99.296813  4.598113
10  113.398810   88.505906  112.542968  104.815895  4.652205
11   99.082205  107.977180   96.731415  101.263600  4.617727
12   91.466990  109.701992   97.080502   99.416495  4.599318
13   98.835751   97.190762  110.532225  102.186246  4.626797
14  101.040184   90.114275  103.490749   98.215069  4.587160
15  116.285140   97.103010   88.480873  100.623008  4.611381
16   76.200379   93.127654   99.761021   89.696351  4.496430
17  105.089194   97.240041   98.824794  100.384676  4.609010
18  103.062269   84.632231   86.388443   91.360981  4.514818
19   98.278712  107.879181  101.780111  102.646001  4.631286
20  100.907364  116.687253  116.258647  111.284421  4.712089

In [37]:
print(df)

            x1          x2          x3       media   log_med
1    88.637460   86.618679   86.448476   87.234872  4.468604
2   102.147891   86.887689  119.030475  102.688685  4.631702
3   109.963885   91.165944   98.918908  100.016245  4.605333
4   115.149806  117.963757   88.220873  107.111479  4.673870
5    85.248796  101.790908  110.221974   99.087226  4.596001
6   105.728942  103.350588   96.593875  101.891135  4.623905
7    90.489221   97.753992  100.073319   96.105511  4.565447
8   114.581917  100.651285   86.927554  100.720252  4.612347
9   106.388499   94.716215   96.785727   99.296813  4.598113
10  113.398810   88.505906  112.542968  104.815895  4.652205
11   99.082205  107.977180   96.731415  101.263600  4.617727
12   91.466990  109.701992   97.080502   99.416495  4.599318
13   98.835751   97.190762  110.532225  102.186246  4.626797
14  101.040184   90.114275  103.490749   98.215069  4.587160
15  116.285140   97.103010   88.480873  100.623008  4.611381
16   76.200379   93.127654   99.761021   89.696351  4.496430
17  105.089194   97.240041   98.824794  100.384676  4.609010
18  103.062269   84.632231   86.388443   91.360981  4.514818
19   98.278712  107.879181  101.780111  102.646001  4.631286
20  100.907364  116.687253  116.258647  111.284421  4.712089